---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    > I'm a 3rd year Ph.D. student at the <a href="https://www.upenn.edu/" target="_blank">University of Pennsylvania</a>, where I mostly think about constrained optimization, foundation models and continual learning with <b>Alejandro Ribeiro</b>. This summer I will intern at <b> Paul Bennett</b>'s <a href="https://research.atspotify.com/machine-learning/" target="_blank">Spotify ML Research</a> team in NYC.
  </p>
  <p>  Before graduate school I worked on genomic motif discovery through ATAC-seq analysis with <b>Anshul Kundaje</b> at <a href="https://sites.google.com/site/anshulkundaje/" target="_blank">Stanford's</a> Kundaje-Lab. I also interned at <a href="https://home.cern/" target="_blank">CERN</a>, contributing to the CMS Open Data initiative with <b> Dr. Lassila-Perini</b>.
    </p>
    <p> I hold an MA in Statistics and Data Science from <a href="https://www.wharton.upenn.edu/" target="_blank"> The Wharton School </a>, and I'm originally from the beautiful city of Montevideo, Uruguay, where I obtained a BSc. in Electrical Engineering from  <a href="https://www.fing.edu.uy/" target="_blank">UdelaR</a>. During my undergrad, I was a software developer at  <a href="https://research.ibm.com/collaborate/cloud-innovation-lab" target="_blank">IBM</a> . If any of this sparks your interest, or if you want share some Mate, feel free to reach out. </p> 
    </p>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>My work</h4>
  <p>
  On the theory side, I work on duality-based <a href="https://drive.google.com/file/d/1WpoyB6ydCWRojblZVXqzjUeoVDBoUS8n/view?usp=sharing">constrained optimization</a>, which is particularly relevant in the context of large model fine tuning. This endeavour is about obtaining models that not only excel at a main task, but also adhere to requirements such as safety, invariance, robustness and fairness. For instance, my last paper shows that, in many learning problems, dual subgradient methods yield near-optimal and near-feasible solutions, without randomization, despite non-convexity. 
  </p>
  <p>
  On the applications side, I have delved into <a href="https://dcai.csail.mit.edu/"">data-centric ML</a> and explored the following questions: <br>
  - What area of the sample space should I explore next so that my model improves the most with the lowest labelling cost ? <br>
  - How should I continuously finetune a model as new data, with different properties, gets collected ? <br>
  These interrogations have led to works on <a href="https://proceedings.neurips.cc/paper_files/paper/2022/hash/f475bdd151d8b5fa01215aeda925e75c-Abstract-Conference.html">active</a> and <a href = "https://arxiv.org/abs/2310.00154"> continual learning</a>.
  </p>
  <p>
  I have a particular interest in problems involving <b>biological signals</b> such as <a href="https://github.com/kundajelab/basepairmodels" >Genome Sequences </a>, Medical Images and the Gut Microbiome. </p>
</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected Papers</div></li>
    <!-- <li><div class="button" data-ref="#papers-all">All</div></li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>


<!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" height=250/>
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}

</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!--<p>Full resume  <a href=https://drive.google.com/file/d/1hteKSw63oyHDcA-HxjDQXUETX8yTp7Sj/view?usp=sharing target="_blank">here</a>.</p>-->

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== MISC ========== -->
<div class="docs-section" id="misc">
  <h4>Miscelaneous</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#Uruguay">Uruguay</div></li>
    <li><div class="button" data-ref="#Water">Water</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="Uruguay">
      <p>Some stuff I like about Uruguay. </p>
      {% assign selected_misc = site.data.misc.misc | where: "selected", "n" %}
      {% for mis in selected_misc %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ mis.url }}">
                    <img src="{{ mis.thumbnail }}" class="u-max-full-width" width=300 />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ mis.title }}</b> <br/>
                  {{ mis.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="Water">
      <p>Water is my natural environment.</p>
      {% assign selected_misc = site.data.misc.misc | where: "selected", "y" %}
      {% for mis in selected_misc %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ mis.url }}">
                    <img src="{{ mis.thumbnail }}" class="u-max-full-width" width=300 />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ mis.title }}</b> <br/>
                  {{ mis.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<div class="docs-section" id="template">
    The blueprint for this website can be found in this <a href="https://github.com/msaveski/www_personal" target="_blank">GitHub repo</a>.
    Feel free to use it. 
</div>
